<div class="navbar-content">
				<!-- start: SIDEBAR -->
				<div class="main-navigation navbar-collapse collapse">
					<!-- start: MAIN MENU TOGGLER BUTTON -->
					<div class="navigation-toggler">
						<i class="clip-chevron-left"></i>
						<i class="clip-chevron-right"></i>
					</div>
					<!-- end: MAIN MENU TOGGLER BUTTON -->
					<!-- start: MAIN NAVIGATION MENU -->
					<ul class="main-navigation-menu">
						<li class="active open">
							<a href="index.html"><i class="clip-home-3"></i>
								<span class="title"> No se </span><span class="selected"></span>
							</a>
						</li>
						<li>
							<a href="index.html#/productList" ><i class="clip-cog-2"></i>
								<span class="title"> Productos </span>
								<span class="selected"></span>
							</a>
						
						</li>
						
					
						
						
					
					</ul>
					<!-- end: MAIN NAVIGATION MENU -->
				</div>
				<!-- end: SIDEBAR -->
			</div>
			<!-- start: PAGE -->
		
							<div class="main-content"   >


<div class="container" ng-controller="DashboardController">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">
						
							
							<ol class="breadcrumb">
								<li>
									<i class="clip-home-3"></i>
									<a href="#">
										Home
									</a>
								</li>
								<li class="active">
									Dashboard
								</li>
								
							</ol>
							<div class="page-header">
								<h1>Dashboard <small>overview &amp; stats </small></h1>
							</div>
							<!-- end: PAGE TITLE & BREADCRUMB -->
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
					<div class="row">
						
					
					</div>
					
					
					
					<div class="row">
						
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-12">
									<div class="panel panel-default">
									
										<canvas id="canvas" height="300" width="300"></canvas>
									
										<canvas id="canvas2" height="350" width="500"></canvas>
									
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- end: PAGE CONTENT-->
				</div>